@import url("https://use.typekit.net/qfe5prt.css");
@font-face {
  font-family: Addington;
  src: url(fonts/Brinnan\ Thin.otf);
}
* {
  font-style: normal;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #F1E9D4;
  overflow-x: hidden;
}

h1 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 72px;
  line-height: 74px;
  margin: 0px !important;
} /* SECTION TITLES */
h2 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 56px;
  line-height: 58px;
  margin: 0px !important;
  text-transform: uppercase;
} /* Sub titles */
h3 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 42px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.75px;
  letter-spacing: 2px;
} /* Section labels */
h4 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 24px;
  line-height: auto;
  background-color: white;
  padding: 0px !important;
  width: auto;
} /* labels */
h4:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

h5 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 24px;
  font-style: italic;
} /* quotes */
h6 {
  font-family: tablet-gothic-wide, sans-serif;
  font-weight: 200;
  font-size: 24px;
  margin: 15px 0px;
} /* bigger than paragraph text */
p {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 20px;
}

a {
  font-family: tablet-gothic-wide, sans-serif;
}

button {
  font-family: Nersans, sans-serif;
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 200;
}

button:hover {
  border: 1px solid white;
  font-weight: 600;
  background-color: #204367;
  cursor: pointer;
  color: white;
}

.white-btn {
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 200;
  color: white;
}

.white-btn:hover {
  border: 3px solid black;
  font-weight: 600;
  background-color: #EDA434;
  cursor: pointer;
  color: black;
}

.hoverme:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.container {
  margin: 0 3rem;
}

.centercenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box-shadow {
  -webkit-box-shadow: 0px 6px 6px -5px #000000;
  box-shadow: 0px 4px 4px -5px #000000;
}

.text-shadow {
  text-shadow: 0px 0px 3px gray;
}

.white-text {
  color: white !important;
}

.half-container-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
  .half-container-wrapper {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 52px;
    line-height: 58px;
  }
  h2 {
    font-size: 48px;
  } /* Sub titles */
  h3 {
    font-size: 42px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.75px;
    letter-spacing: 2px;
  } /* Section labels */
  h4 {
    font-size: 24px;
    background-color: white;
  } /* labels */
  h6 {
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
  }
  .nav-container {
    display: none !important;
  }
  .social-span {
    display: none !important;
  }
  .header-container {
    justify-content: center !important;
  }
  #title-span-1 {
    font-size: 28px !important;
    line-height: 28px !important;
  }
  #title-span-2 {
    line-height: 50px;
    font-size: 56px !important;
  }
}
/* -------------------------------------------------------------------------------------------------------- */
/* Header Content */
#main-header {height: 150px; padding: 25px; background-color: #F1E9D4; display: block; z-index: 999999;}
.header-content {width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
#main-logo {height: 100%; display: flex; align-items: center; justify-content: center;}
#main-logo-img {height: 100%; width: auto; max-height: 150px;}
#mobile-menu {width: 50%; text-align: right;}
#main-logo img:hover {transform: scale(1.1); cursor: pointer;}
#nav-container {width: 75%; height: 100%;}
#nav-container-content {display: inline-flex; height: 100%; width: 100%; align-items: center; justify-content: flex-end; flex-wrap: wrap;}
.nav-item {color: #204367; opacity: 0.35; font-weight: 700; font-size: 22px; white-space: nowrap; text-decoration: none; margin: 10px; text-align: right; line-height: 0px; font-family: tablet-gothic-wide, sans-serif;}
.active {opacity: 1 !important;}
.nav-item:hover {color: #204367; transform: scale(1.05); opacity: 1;}
#mobile-nav-container { height: 50%;}

@media only screen and (min-width: 950px) {
  #mobile-menu-dropdown {display: none;}
}
@media only screen and (max-width: 950px) {
    #nav-container {width: 100%; display: none;}
    .nav-item {width: 100% !important;}
    .logo-menu-container {width: 100%;}
    #mobile-menu {display: block !important;}
    .social-span {width: 100%;}
    
   
}



.bg-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -1;
}

.bg-video2 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
  max-height: 600px;
  left: 0;
  z-index: 0;
}




.social-span {
  width: 75px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social-span a {
  padding: 0px 5px;
}

.nav-break {
  display: none;
}


/* -------------------------------------------------------------------------------------------------------- */
/* Hero Section */

#bgVideo {
  width: 100%;
  z-index: -1;
  position: absolute;
  margin-top: 100px;
}

.hero-overlay {
  width: 100%;
  margin-top: -125px;
  padding: 0px 50px;
  text-shadow: 0px 0px 4px black;
  color: white;
}
.hero-overlay h2 {
  text-transform: none;
}

.hero-trim {
  width: 101%;
  margin-top: -70px; 
  height: 200px;

  display: flex; align-items: center; justify-content: center;
  background-image: url("assets/trim5.svg");
  background-repeat: no-repeat;
  background-size: cover;

}
#close-video-btn {position: absolute; text-align: center; bottom: 25px; z-index: 99999; border: 1px solid white; border-radius: 25px; width: 50px; cursor: pointer; padding: 15px; background-color: rgba(255, 255, 255, 0.5)}

.hero {
  height: 88vh;
  margin-top: -25px;
}

.hero-intro {
  background: #204367;
}

.text-span-1 {
  font-size: 36px;
}

.text-span-2 {
  font-style: italic;
  text-transform: uppercase;
}

.vimeo-wrapper {
  margin-top: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  position: fixed;
  min-width: 177.77vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 125px;
}

@media only screen and (max-width: 850px) {
  #main-logo-img {
    max-height: 100px;
  }
  .text-span-1 {
    font-size: 19px;
    line-height: 0px;
    color: black;
    background-color: white;
    text-shadow: none;
  }
  .text-span-2 {
    font-size: 28px;
    color: black;
    background-color: white;
    text-shadow: none;
  }
}
/* -------------------------------------------------------------------------------------------------------- */
/* Project Grid Section */
.home-project-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-block {
  width: 100%;
  height: 25vw;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  text-align: center;
}
.project-block h4 {line-height: 32px;}

.project-block:hover {
  border: 2px solid white;
  transform: scale(1.1);
  cursor: pointer;
}

#project1-block {
  background-image: url("assets/beldon-smalls\(1\).png");
}

#project1-block:hover {
  background-image: url("assets/hoverGIFS/beldon-sample.webp");
  background-size: cover;
}

#project2-block {
  background-image: url("assets/texas-smalls\(1\).png");
}

#project2-block:hover {
  background-image: url("assets/hoverGIFS/texas-hover.gif");
  background-size: cover;
}

#project3-block {
  background-image: url("assets/codeup-smalls\(1\).png");
}

#project3-block:hover {
  background-image: url("assets/hoverGIFS/codeup-hover.gif");
  background-size: cover;
}

#project4-block {
  background-image: url("assets/witte-smalls\(1\).png");
}

#project4-block:hover {
  background-image: url("assets/hoverGIFS/witte-hover.gif");
  background-size: cover;
}

@media only screen and (max-width: 850px) {
  .home-project-grid {
    display: block;
  }
}
.press-container {
  background-color: #F1E8D4;
  width: 100%;

  padding: 2rem 2rem 8rem 2rem;
}

.press-block {
  margin-right: 25px;
  margin-bottom: 25px;
  border: 0.1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px 25px;
  width: 100%;
  text-align: center;
  height: 100%;
  
}

.press-block-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.press-block h5 {font-weight: 200;}

.press-block:hover {
  cursor: pointer; 
  transform: scale(1.04); 
  background-color: rgba(255, 255, 255, 0.6)
}

#read-more-text {width: 100%; display: inline-flex; justify-content: flex-start; align-items: flex-end;}

@media only screen and (max-width: 950px) {
  .press-block-wrapper {
    display: block;
  }
}
/* -------------------------------------------------------------------------------------------------------- */
/* Footer */
footer {
  background-color: #0A1C3D;
}

.slider-container {
  background: #F1E9D4;
  transform: rotate(-3deg);
  display: flex; align-items: center; justify-content: center;
  width: 400%;
  height: 180px;
  margin-left: -20px;
  border: 2px solid black;
  overflow: hidden;
  margin-top: -50px;
  margin-bottom: 50px;
  
}

#slide-images {  animation: slide 50s linear infinite; 
  display: flex; align-items: center; justify-content: space-evenly; 
  height: 80%; width: 200%; overflow-x: scroll; 
  background-image: url('assets/brands/new-clients-slider.png'); 
  background-size: contain;  background-position: center center;}

@keyframes slide{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 200%;
  }
}








section h1 {
  padding: 25px 50px;
}

#work-hero {
  background-image: url("assets/trim3.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 120%;
}
#work-hero .work-container-wrapper {
  overflow: hidden;
  height: 100%;
}
#work-hero .work-container {
  padding: 25px 10px;
  display: inline-flex;
  width: 100%;
  overflow-x: hidden;
}

.work-project {
  border-radius: 25px;
  background-color: #1E4062;
  border: 1px solid white;
  margin-right: 1vw;
}

.active-project {
  padding: 15px 50px;
}
.active-project :hover {
  cursor: pointer;
}

.work-project-title h3 {
  color: white;
}

.minimized-project {
  width: 100px;
}
.minimized-project .feature-num {
  display: block;
  line-height: 32px;
  padding: 0;
  text-align: center;
}
.minimized-project .feature-num:hover {
  color: white;
  cursor: pointer;
}
.minimized-project .work-project-wrapper {
  display: none;
}

#next-feature {
  color: white;
  font-size: 26px;
  height: 400px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-project-title {
  line-height: 36px;
}

.active-project {
  width: 65vw;
  background-color: black;
}
.active-project .feature-num {
  display: none;
}
.active-project .work-project-wrapper {
  display: block;
  padding: 25px 15px;
}

@media only screen and (max-width: 850px) {
  .work-container-wrapper {
    width: 100vw;
  }
  .work-container {
    display: flex;
    flex-wrap: wrap;
  }
  .work-project {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .active-project {
    width: 100%;
  }
  .minimized-project {
    width: 100%;
    text-align: left;
  }
  #next-feature {
    height: 50px;
    width: 100%;
    color: white;
  }
}
.all-projects {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project {
  height: 300px;
  background-color: teal;
  margin: 25px;
  flex-grow: 1;
}

.toggle-project-btn {
  color: white;
  border: 2px solid white;
}

#work-title {
  width: 100%;
  height: 70vh;
  background-image: url("assets/sample-wave-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  align-items: flex-end;
  padding: 50px;
}

.filter-btns {
  border: 1px solid black;
  color: black;
}

.filter-btns-wrapper {
  padding: 0px 50px;
}

.filter-btns-container {
  display: inline-flex;
  align-items: flex-start;
}
.filter-btns-container button {
  margin-right: 10px;
}

.active-cat {
  border: 1px solid #204367;
  font-weight: 600;
  background-color: #204367;
  cursor: pointer;
  color: white;
}

#full-screen-project {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  z-index: 99;
  top: 0;
  left: 0;
  color: white;
}

.pop-up-sidebar {
  padding: 25px 0px;
  width: 85px;
  height: 100%;
  border-right: 1px solid white;
  text-align: center;
}
.pop-up-sidebar h6 {
  font-size: 12px;
}

.full-project-container {
  width: 100%;
  padding: 25px 0px 25px 25px;
}
.full-project-container .full-project--header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.full-project-container .full-project--title {
  color: white;
}
.full-project-container .full-project--year {
  font-size: 32px;
  padding-right: 50px;
}
.full-project-container .full-project--brand {
  font-size: 18px;
  font-weight: 400;
  line-height: 72px;
}

.full-project-slider {
  width: 100%;
  height: 70%;
  background-color: tan;
  color: black;
}

.full-project-slider-wrapper {
  padding: 50px;
  display: inline-flex;
  overflow-x: scroll;
}

.full-project--section {
  margin-right: 25px;
  height: 100%;
  width: 300px;
}
.full-project--section h2 {
  font-size: 24px;
}
.full-project--section p {
  font-weight: 100;
}
.full-project--section img {
  border-radius: 25px;
  width: 300px;
  height: auto;
}

.full-project--section:nth-child(odd) div {
  margin-top: 30%;
}

#team-hero {
  display: flex;
  align-items: flex-end;
  
  background-image: url("assets/trim3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 30vh;
  width: 100%;
}
#team-hero h1 {
  background-color: white;
  margin-top: 25px;
}

.about-cory-wrapper {
  width: 100%;
  padding: 50px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}
.about-cory-wrapper h2 {
  text-transform: none;
}
.about-cory-wrapper h6 {
  font-size: 24px;
  font-style: italic;
}
.about-cory-wrapper p {
  font-size: 18px;
}

.about-team-wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
}

#about-team-section h1 {background-color: white;}

.team-member {
  max-width: 400px;
  margin: 2vw;
  text-align: center;
  padding: 25px;
}
.team-member h2 {
  text-transform: none;
  font-size: 32px;
}

.team-portrait {
  width: 100%;
}

.arrow {
  position: relative;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  /**
   * Dark Arrow Down
   */
  background-image: url("assets/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
#contact-hero {
  display: flex;
  align-items: flex-end;
  padding-top: 100px;
  background-image: url("assets/trim3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 40vh;
  width: 100%;
}
#contact-hero h1 {
  background-color: white;
}

#contact-container {
  width: 100%; display: inline-flex; align-items: center; justify-content: space-evenly;
}

@media only screen and (max-width: 850px) {
  #contact-container {display: block;}
  .contact-box {margin-bottom: 50px;}
}





.contact-box {text-align: center;}
.contact-box:hover {transform: scale(1.1); cursor: pointer;}

/*# sourceMappingURL=combo.css.map */

#video-bg {width: 100%; height: 70vh; object-fit: contain; z-index: -1; display: flex; align-items: center; justify-content: center;}
#video-bg:hover {cursor: pointer; }
.video-wrapper {display: flex; object-fit: cover; align-items: center; pointer-events: none; justify-content: center; height: 100%;}
.play-btn-wrapper {margin-top: 50px; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; position: absolute; }
.video-wrapper:hover {transform: scale(1.1); animation: none; cursor: pointer;}

#video-window {display: none; backdrop-filter: blur(10px); align-items: center; justify-content: center; width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 9999; padding: 10px; }
#video-window-close-bar {width: 100vw; height: 150px; display: flex; z-index: 99999; justify-content: center; padding: 25px; bottom: 0; position: absolute; background-image: url('assets/trim5.png'); background-size: 100% 150px; background-repeat: no-repeat; background-position: center bottom;}
.heartbeat{-webkit-animation:heartbeat 10.5s ease-in-out infinite both;animation:heartbeat 10.5s ease-in-out infinite both}

 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}