@import url("https://use.typekit.net/qfe5prt.css");
@font-face {
  font-family: Addington;
  src: url(fonts/Brinnan\ Thin.otf);
}
* {
  font-style: normal;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #F1E9D4;
  overflow-x: hidden;
}

h1 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 72px;
  line-height: 74px;
  margin: 0px !important;
} /* SECTION TITLES */
h2 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 56px;
  line-height: 58px;
  margin: 0px !important;
  text-transform: uppercase;
} /* Sub titles */
h3 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 42px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.75px;
  letter-spacing: 2px;
} /* Section labels */
h4 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 24px;
  line-height: auto;
  background-color: white;
  padding: 0px !important;
  width: auto;
} /* labels */
h4:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

h5 {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 24px;
  font-style: italic;
} /* quotes */
h6 {
  font-family: tablet-gothic-wide, sans-serif;
  font-weight: 200;
  font-size: 24px;
  margin: 15px 0px;
} /* bigger than paragraph text */
p {
  font-family: tablet-gothic-wide, sans-serif;
  font-size: 20px;
}

a {
  font-family: tablet-gothic-wide, sans-serif;
}

button {
  font-family: Nersans, sans-serif;
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 200;
}

button:hover {
  border: 1px solid white;
  font-weight: 600;
  background-color: #204367;
  cursor: pointer;
  color: white;
}

.white-btn {
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 200;
  color: white;
}

.white-btn:hover {
  border: 3px solid black;
  font-weight: 600;
  background-color: #EDA434;
  cursor: pointer;
  color: black;
}

.hoverme:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.container {
  margin: 3rem;
}

.centercenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box-shadow {
  -webkit-box-shadow: 0px 6px 6px -5px #000000;
  box-shadow: 0px 4px 4px -5px #000000;
}

.text-shadow {
  text-shadow: 0px 0px 3px gray;
}

.white-text {
  color: white !important;
}

.half-container-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
  .half-container-wrapper {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 52px;
    line-height: 58px;
  }
  h2 {
    font-size: 48px;
  } /* Sub titles */
  h3 {
    font-size: 42px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.75px;
    letter-spacing: 2px;
  } /* Section labels */
  h4 {
    font-size: 24px;
    background-color: white;
  } /* labels */
  h6 {
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
  }
  .nav-container {
    display: none !important;
  }
  .social-span {
    display: none !important;
  }
  .header-container {
    justify-content: center !important;
  }
  #title-span-1 {
    font-size: 28px !important;
    line-height: 28px !important;
  }
  #title-span-2 {
    line-height: 50px;
    font-size: 56px !important;
  }
}
/* -------------------------------------------------------------------------------------------------------- */
/* Header Section */
#main-header {
  height: 125px;
  padding: 25px 50px;
  background-color: #F1E9D4;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 999999;
}

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#main-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-logo-img {
  height: 100%;
  width: auto;
}

#mobile-menu {
  width: 50%;
  text-align: right;
}

#main-logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#nav-container {
  width: 75%;
  height: 100%;
}

.nav-container-content {
  display: inline-flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav-item {
  color: #204367;
  opacity: 0.35;
  font-weight: 700;
  font-size: 22px;
  white-space: nowrap;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  line-height: 0px;
}

.active {
  opacity: 1 !important;
}

.nav-item:hover {
  color: #204367;
  transform: scale(1.05);
  opacity: 1;
}

.social-span {
  width: 75px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social-span a {
  padding: 0px 5px;
}

.nav-break {
  display: none;
}

@media only screen and (max-width: 950px) {
  #nav-container {
    width: 100%;
    display: none;
  }
  .nav-item {
    width: 100% !important;
  }
  .logo-menu-container {
    width: 100%;
  }
  #mobile-menu {
    display: block !important;
  }
  .social-span {
    width: 100%;
  }
  #main-header {
    padding: 25px;
  }
}
/* -------------------------------------------------------------------------------------------------------- */
/* Hero Section */
.hero-overlay {
  width: 100%;
  margin-top: -125px;
  padding: 0px 50px;
  text-shadow: 0px 0px 4px black;
  color: white;
}
.hero-overlay h2 {
  text-transform: none;
}

.hero-trim {
  width: 100%;
  height: 200px;
  padding: 50px;
  background-image: url("assets/trim5.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: 88vh;
  margin-top: -25px;
}

.hero-intro {
  background: #204367;
  margin-top: -50px;
}

.text-span-1 {
  font-size: 36px;
}

.text-span-2 {
  font-style: italic;
  text-transform: uppercase;
}

.vimeo-wrapper {
  margin-top: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  position: fixed;
  min-width: 177.77vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 850px) {
  #main-logo-img {
    max-height: 100px;
  }
  .text-span-1 {
    font-size: 19px;
    line-height: 0px;
    color: black;
    background-color: white;
    text-shadow: none;
  }
  .text-span-2 {
    font-size: 28px;
    color: black;
    background-color: white;
    text-shadow: none;
  }
}
/* -------------------------------------------------------------------------------------------------------- */
/* Project Grid Section */
.home-project-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-block {
  width: 100%;
  height: 25vw;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
}

.project-block:hover {
  border: 2px solid white;
  transform: scale(1.1);
  cursor: pointer;
}

#project1-block {
  background-image: url("https://images.unsplash.com/photo-1525547867522-cf8070ed441c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
}

#project1-block:hover {
  background-image: url("assets/hoverGIFS/beldon-sample.webp");
  background-size: cover;
}

@media only screen and (max-width: 850px) {
  .home-project-grid {
    display: block;
  }
}
.press-container {
  background-color: #F1E8D4;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 8rem 2rem;
}

.press-block {
  margin-right: 25px;
  border: 0.1px solid black;
  padding: 50px 25px;
  width: 100%;
  text-align: center;
}

.press-block-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

@media only screen and (max-width: 850px) {
  .press-block-wrapper {
    display: block;
  }
}
/* -------------------------------------------------------------------------------------------------------- */
/* Footer */
footer {
  background-color: #0A1C3D;
}

.slider-container {
  background: #F1E9D4;
  transform: rotate(-3deg);
  margin-top: -50px;
  width: 110%;
  margin-left: -5%;
  height: 200px;
  border: 2px solid black;
  overflow: hidden;
}

.slider {
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  max-height: 200px;
  width: 100%;
  min-height: 50px;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

section h1 {
  padding: 25px 50px;
}

#work-hero {
  background-image: url("assets/trim3.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 120%;
}
#work-hero .work-container-wrapper {
  overflow: hidden;
  height: 100%;
}
#work-hero .work-container {
  padding: 25px 10px;
  display: inline-flex;
  width: 100%;
  overflow-x: hidden;
}

.work-project {
  border-radius: 25px;
  background-color: #1E4062;
  border: 1px solid white;
  margin-right: 1vw;
}

.active-project {
  padding: 15px 50px;
}
.active-project :hover {
  cursor: pointer;
}

.work-project-title h3 {
  color: white;
}

.minimized-project {
  width: 100px;
}
.minimized-project .feature-num {
  display: block;
  line-height: 32px;
  padding: 0;
  text-align: center;
}
.minimized-project .feature-num:hover {
  color: white;
  cursor: pointer;
}
.minimized-project .work-project-wrapper {
  display: none;
}

#next-feature {
  color: white;
  font-size: 26px;
  height: 400px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-project-title {
  line-height: 36px;
}

.active-project {
  width: 65vw;
  background-color: black;
}
.active-project .feature-num {
  display: none;
}
.active-project .work-project-wrapper {
  display: block;
  padding: 25px 15px;
}

@media only screen and (max-width: 850px) {
  .work-container-wrapper {
    width: 100vw;
  }
  .work-container {
    display: flex;
    flex-wrap: wrap;
  }
  .work-project {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .active-project {
    width: 100%;
  }
  .minimized-project {
    width: 100%;
    text-align: left;
  }
  #next-feature {
    height: 50px;
    width: 100%;
    color: white;
  }
}
.all-projects {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project {
  height: 300px;
  background-color: teal;
  margin: 25px;
  flex-grow: 1;
}

.toggle-project-btn {
  color: white;
  border: 2px solid white;
}

#work-title {
  width: 100%;
  height: 70vh;
  background-image: url("assets/sample-wave-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  align-items: flex-end;
  padding: 50px;
}

.filter-btns {
  border: 1px solid black;
  color: black;
}

.filter-btns-wrapper {
  padding: 0px 50px;
}

.filter-btns-container {
  display: inline-flex;
  align-items: flex-start;
}
.filter-btns-container button {
  margin-right: 10px;
}

.active-cat {
  border: 1px solid #204367;
  font-weight: 600;
  background-color: #204367;
  cursor: pointer;
  color: white;
}

#full-screen-project {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  z-index: 99;
  top: 0;
  left: 0;
  color: white;
}

.pop-up-sidebar {
  padding: 25px 0px;
  width: 85px;
  height: 100%;
  border-right: 1px solid white;
  text-align: center;
}
.pop-up-sidebar h6 {
  font-size: 12px;
}

.full-project-container {
  width: 100%;
  padding: 25px 0px 25px 25px;
}
.full-project-container .full-project--header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.full-project-container .full-project--title {
  color: white;
}
.full-project-container .full-project--year {
  font-size: 32px;
  padding-right: 50px;
}
.full-project-container .full-project--brand {
  font-size: 18px;
  font-weight: 400;
  line-height: 72px;
}

.full-project-slider {
  width: 100%;
  height: 70%;
  background-color: tan;
  color: black;
}

.full-project-slider-wrapper {
  padding: 50px;
  display: inline-flex;
  overflow-x: scroll;
}

.full-project--section {
  margin-right: 25px;
  height: 100%;
  width: 300px;
}
.full-project--section h2 {
  font-size: 24px;
}
.full-project--section p {
  font-weight: 100;
}
.full-project--section img {
  border-radius: 25px;
  width: 300px;
  height: auto;
}

.full-project--section:nth-child(odd) div {
  margin-top: 30%;
}

#team-hero {
  display: flex;
  align-items: flex-end;
  padding-top: 100px;
  background-image: url("assets/trim3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 50vh;
  width: 100%;
}
#team-hero h1 {
  background-color: white;
}

.about-cory-wrapper {
  width: 100%;
  padding: 50px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}
.about-cory-wrapper h2 {
  text-transform: none;
}
.about-cory-wrapper h6 {
  font-size: 24px;
  font-style: italic;
}
.about-cory-wrapper p {
  font-size: 18px;
}

.about-team-wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
}

.team-member {
  max-width: 400px;
  margin: 2vw;
  text-align: center;
  padding: 25px;
}
.team-member h2 {
  text-transform: none;
  font-size: 32px;
}

.team-portrait {
  width: 100%;
}

.arrow {
  position: relative;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  /**
   * Dark Arrow Down
   */
  background-image: url("assets/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
#contact-hero {
  display: flex;
  align-items: flex-end;
  padding-top: 100px;
  background-image: url("assets/trim3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 50vh;
  width: 100%;
}
#contact-hero h1 {
  background-color: white;
}

/*# sourceMappingURL=combo.css.map */
