@import url("https://use.typekit.net/qfe5prt.css");


@font-face {
    font-family: Addington;
    src: url(fonts/Brinnan\ Thin.otf);
    
  }


* {font-style: normal; box-sizing: border-box;     
}

body {width: 100vw; margin: 0; padding: 0; background: #F1E9D4}
h1 {font-family: tablet-gothic-wide, sans-serif; font-size: 72px; line-height: 74px; margin: 0px!important;} /* SECTION TITLES */
h2 {font-family: tablet-gothic-wide, sans-serif; font-size: 56px; line-height: 58px; margin: 0px!important; text-transform: uppercase;} /* Sub titles */
h3 {font-family: tablet-gothic-wide, sans-serif; font-size: 42px;  color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: white; -webkit-text-stroke-width: 0.75px; letter-spacing: 2px} /* Section labels */
h4 {font-family: tablet-gothic-wide, sans-serif; font-size: 24px; line-height: auto; background-color: white; padding: 0px!important; width: auto; } /* labels */
h4:hover {background-color: rgba(0,0,0,0); color: white;}

h5 {font-family: tablet-gothic-wide, sans-serif; font-size: 24px; font-style: italic; } /* quotes */
h6 {font-family: tablet-gothic-wide, sans-serif; font-weight: 200; font-size: 24px; margin: 15px 0px;} /* bigger than paragraph text */
p {font-family: tablet-gothic-wide, sans-serif; font-size: 22px;}

a {font-family: tablet-gothic-wide, sans-serif; }


button {font-family: Nersans, sans-serif; background: none; border: 1px solid black; border-radius: 20px; padding: 5px 15px; font-size: 18px; font-weight: 200;}
button:hover {border: 1px solid white; font-weight: 600; background-color: #204367; cursor: pointer; color: white;}
.white-btn {background: none; border: 1px solid white; border-radius: 20px; padding: 5px 15px; font-size: 18px; font-weight: 200; color: white;}
.white-btn:hover {border: 3px solid black; font-weight: 600; background-color: #EDA434; cursor: pointer; color: black;}

.hoverme:hover {transform: scale(1.1); cursor: pointer;}
.container {margin: 3rem;}
.centercenter {display: flex; align-items: center; justify-content: center; width: 100%;}
.box-shadow {-webkit-box-shadow: 0px 4px 4px -5px #000000; box-shadow: 0px 4px 4px -5px #000000;}
.text-shadow {  text-shadow: 0px 0px 3px gray;
}

.white-text {color: white!important;}

.half-container-wrapper {display: flex; align-items: flex-end; justify-content: flex-end;}
@media only screen and (max-width: 1000px){
    .half-container-wrapper {flex-wrap: wrap;}
    h1 {font-size: 52px; line-height: 58px; }
    h2 {font-size: 48px; align-items:} /* Sub titles */
    h3 {font-size: 42px;  color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: white; -webkit-text-stroke-width: 0.75px; letter-spacing: 2px} /* Section labels */
    h4 {font-size: 24px; background-color: white; padding: 5px; } /* labels */
    h6 { font-weight: 100; font-size: 24px; letter-spacing: 2px;} 
    .nav-container {display: none!important;}
    .social-span {display: none!important;}
    .header-container {justify-content: center!important;}
    #title-span-1 {font-size: 28px!important;  line-height: 28px!important;}
    #title-span-2 {line-height: 50px; font-size: 56px!important;}
    .hero-overlay {margin-top: 60vh;}
}

/* -------------------------------------------------------------------------------------------------------- */
/* Header Section */

#main-header {background-color: #F1E9D4; width: 100%; padding: 25px 50px; display: block;}
.header-content {width: 100%; height: 100px; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
#main-logo {width: 20%; display: flex; align-items: flex-start; justify-content: flex-start;}
#mobile-menu {width: 50%; text-align: right;}
#main-logo img:hover {transform: scale(1.1); cursor: pointer;}
#nav-container {width: 75%; height: 100%;  }
.nav-container-content {display: inline-flex; height: 100%; width: 100%; align-items: center; justify-content: flex-end; flex-wrap:wrap;}
.nav-item {color: #204367; opacity: 0.35; font-weight: 700; font-size: 22px; white-space: nowrap;  text-decoration: none; padding: 10px; text-align: center; line-height: 0px;}
/* .nav-item {color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #204367; font-weight: 700; -webkit-text-stroke-width: 1px; font-size: 22px; letter-spacing: 1.65px; white-space: nowrap;  text-decoration: none; padding: 10px; text-align: center; line-height: 0px;} */
.active {opacity: 1!important; color: #021752!important;}
.nav-item:hover {color: #204367; transform: scale(1.05); opacity: 1;}
.active {color: #204367; }
.social-span {width: 75px; height: 50px;display: inline-flex; justify-content: center; align-items: center;}
.social-span a {padding: 0px 5px;}
.nav-break {display: none;}

@media only screen and (max-width: 950px){
  #nav-container {width: 100%; display: none}
  .nav-item {width: 100%!important;}
  .logo-menu-container {width: 100%;}
  #mobile-menu {display: block!important;}
  .social-span {width: 100%;}
  #main-header {padding: 25px;}
}


/* -------------------------------------------------------------------------------------------------------- */
/* Hero Section */


.hero {height: 80vh;}
.hero-intro {background: #204367; border: 0.1px solid #204367;}

.project-block {width: 25vw; height: 25vw; padding: 15px; display: flex; align-items: flex-end; justify-content: center; background-size: cover;}
.project-block:hover {transform: scale(1.1); cursor: pointer;}

#project1-block {background-image: url('https://images.unsplash.com/photo-1525547867522-cf8070ed441c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80')}
#project1-block:hover {background-image: url('assets/hoverGIFS/beldon-sample.webp'); background-size: cover;}

.vimeo-wrapper {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; pointer-events: none; overflow: hidden;}
.vimeo-wrapper iframe {width: 100vw; height: 56.25vw; min-height: 100vh; position: fixed; min-width: 177.77vh; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.hero-overlay {height: 20vh; position: absolute; margin-left: 2rem; margin-top: 70vh;}
.hero-intro-paragraphs {padding-right: 25px;}

#title-span-1 {font-size: 32px; line-height: 48px;}
#title-span-2 {font-style: italic; font-size: 72px; color: #C30714; }

/* -------------------------------------------------------------------------------------------------------- */
/* Project Grid Section */






.press-block {margin-right: 25px; border: 0.1px solid black; padding: 50px 25px; max-width: 30%; text-align: center;}
.press-block-wrapper {width: 100%; display: flex; align-items: flex-end; justify-content: flex-start;}


/* -------------------------------------------------------------------------------------------------------- */
/* Footer */




footer {
    background-color: #0A1C3D
}


.slider-container {background: #F1E9D4; transform: rotate(-3deg);  margin-top: -50px; width: 110%; margin-left: -5%; height: 200px; border: 2px solid black; overflow: hidden;}
.slider { max-height: 200px; display: flex; align-items: center; justify-content: center; }  
.slick-slide {margin: 0px 20px;}
  .slick-slide img {max-height: 200px; width: 100%; min-height: 50px;}
  .slick-slider {position: relative; display: block; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
  .slick-list {position: relative; display: block; overflow: hidden; margin: 0; padding: 0;}
  .slick-list:focus {outline: none;}
  .slick-list.dragging {cursor: pointer; cursor: hand;}
  .slick-slider .slick-track, .slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
  
  .slick-track
  {position: relative; top: 0; left: 0; display: block;}
  .slick-track:before, .slick-track:after {display: table; content: '';}
  .slick-track:after {clear: both;}
  .slick-loading .slick-track {visibility: hidden;}
  
  .slick-slide {display: none; float: left; height: 100%; min-height: 1px;}
  [dir='rtl'] .slick-slide {float: right;}
  .slick-slide img {display: block;}

  .slick-slide.slick-loading img {display: none;}
  .slick-slide.dragging img {pointer-events: none;}
  .slick-initialized .slick-slide {display: block;}
  .slick-loading .slick-slide {visibility: hidden;}
  .slick-vertical .slick-slide{display: block; height: auto; border: 1px solid transparent;}
  .slick-arrow.slick-hidden {display: none;}